ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a{
    color: #fff;
}
.icon{
    img{
        height: 70vh !important;
        width: auto !important;
        align-items: center;
    }

}